/**
 * Import base style
 */
@import "../mall/base.less";

#the_show{
    background-color:@black;
    text-align:center;
    line-height: 22px;
    color:@white;
    letter-spacing:0.5;
}

#pictureShow{
    cursor:pointer;

    -webkit-box-shadow: 10px 10px 16px 6px rgba(247,242,247,1);
    -moz-box-shadow: 10px 10px 16px 6px rgba(247,242,247,1);
    box-shadow: 10px 10px 16px 6px rgba(247,242,247,1);
}

#pict{
    cursor:pointer;
}

#my_img{
    cursor:pointer;
}


/**
 * Here comes specific style for a certain test program.
 */
